<!-- i18n -->

<% layout('layouts/boilerplate') %> 


<div class="row">
    <!-- Left Column: Project Card -->
    <div class="col-lg-6 mb-4">
        <!-- Project Images Carousel -->
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <% project.images.forEach((img, i)=> { %>
                <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                    <img
                        src="<%= img.url %>"
                        class="d-block w-100"
                        alt="<%= __('show.imageAlt') %>"
                    />
                </div>
                <% }); %>
            </div>
            <% if (project.images.length > 1) { %>
            <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="prev"
            >
                <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                ></span>
                <span class="visually-hidden">
                    <%= __('show.previous') %>
                </span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="next"
            >
                <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                ></span>
                <span class="visually-hidden"> <%= __('show.next') %> </span>
            </button>
            <% } %>
        </div>
        <div>
            <% 
                const truePercent = ((project.currentFunding / project.fundingGoal) * 100).toFixed(2);
                const barPercent = Math.min(truePercent, 100); 
            %>
        
            <div class="progress mt-2">
                <div 
                    class="progress-bar" 
                    role="progressbar" 
                    style="width: <%= barPercent %>%;" 
                    aria-valuenow="<%= truePercent %>" 
                    aria-valuemin="0" 
                    aria-valuemax="100"
                >
                    <%= truePercent %>%
                </div>
            </div>
            <%= getProjectCurrencySymbol(userCurrency) %><%= getExchangeRates(userCurrency, project.currency, project.currentFunding, currencyData) %> raised<br>
            <%= getProjectCurrencySymbol(userCurrency) %><%= getExchangeRates(userCurrency, project.currency, project.fundingGoal, currencyData) %> goal
        
            
        </div>
        
        
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title"><%= project.displayTitle %></h5>
                <p class="card-text"><%= project.displayDescription %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">
                    <%= project.location %>
                </li>
                
                <li class="list-group-item">
                    <b> <%= __('show.submittedBy') %>: </b>
                    <%= project.author.username %>
                </li>
                <li class="list-group-item">
                    <b> <%= __('show.deadline') %>: </b>
                    <%= project.deadline.toISOString().split('T')[0] %>
                </li>
                <li class="list-group-item">
                    <b> <%= __('show.createdAt') %>: </b>
                    <%= project.createdAt.toISOString().split('T')[0] %>
                </li>
                <li class="list-group-item">
                    <b> <%= __('show.updatedAt') %>: </b>
                    <%= project.updatedAt.toISOString().split('T')[0] %>
                </li>
                <li class="list-group-item">
                    <b> <%= __('show.status') %>: </b>
                    <%= project.status %>
                </li>
            </ul>
            <% if (currentUser && currentUser._id.toString() ===
            project.author._id.toString()) { %>
            <div class="card-body">
                <a
                    class="card-link btn btn-info"
                    href="/projects/<%= project._id %>/edit"
                >
                    <%= __('show.editButton') %>
                </a>
                <form
                    class="d-inline"
                    action="/projects/<%= project._id %>?_method=DELETE"
                    method="POST"
                >
                    <button class="btn btn-danger">
                        <%= __('show.deleteButton') %>
                    </button>
                </form>
            </div>
            <% } %>
        </div>
    </div>

    <!-- Right Column: Map and Comments -->
    <div class="col-lg-6">
        <!-- Map -->
        <div id="map" style="width: 100%; height: 300px" class="mb-4"></div>

        <!-- Comments Section -->
        <% if (currentUser) { %>
        <h3 class="mt-4 mb-3"><%= __('show.leaveComment') %></h3>
        <form
            action="/projects/<%= project._id %>/comments"
            method="POST"
            class="mb-4 validated-form"
            novalidate
        >
            <div class="mb-3">
                <label class="form-label" for="body">
                    <%= __('show.commentLabel') %>
                </label>
                <textarea
                    class="form-control"
                    name="comment[body]"
                    cols="30"
                    rows="3"
                    id="body"
                    required
                ></textarea>
                <div class="valid-feedback"><%= __('show.commentValid') %></div>
            </div>
            <button class="btn btn-success">
                <%= __('show.submitButton') %>
            </button>
        </form>
        <% } %> <% project.comments.forEach(comment=> { %>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">
                    <%= __('show.commentBy', { author: comment.author.name }) %>
                </h5>
                <p class="card-text">
                    <%= __('show.commentBody', { body: comment.body }) %>
                </p>
                <% if (currentUser && currentUser._id.toString() ===
                comment.author._id.toString()) { %>
                <form
                    action="/projects/<%= project._id %>/comments/<%= comment._id %>?_method=DELETE"
                    method="POST"
                >
                    <button class="btn btn-sm btn-danger">
                        <%= __('show.deleteComment') %>
                    </button>
                </form>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<script>
    var mapboxToken = "<%= mapBoxToken %>";
    var project = <%- JSON.stringify(project) %>;
    var displayTitle =  "<%= project.displayTitle %>"
</script>
<script src="/javascripts/showPageMap.js"></script>
